:root{
    --primary-color: black;
}

header{
    position:fixed;
    top: 0px;
    background-color: antiquewhite;
}

footer{
    position:fixed;
    bottom: 0px;
    background-color: antiquewhite;
}

a{
    font-family: 'Noto Sans Mono', monospace;
    color: black;
}

a:link{
    text-decoration: none;
}

a:visited{
    color:rgb(24, 24, 24);
}

a:hover{
    text-decoration: underline;
}    
a:focus, a:active{
    text-decoration:solid;
}



nav{
    display:flex;
}

nav > ul {
    display:flex;
    align-items: center;
    justify-content: center;
}

#copyright{
    position: absolute;
    bottom: 35px;
    right: 35px;
    font-size: 10px;
}

h1, h2 {
    font-family: 'Noto Sans Mono', monospace;
    margin: 20px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

@media (max-width: 800px) {
    .disappearing{
        display: none;
        /* visibility: hidden; */
    }
    .mobileFeature{
        display: flex;
        visibility: visible;
    }
}

@media (min-width: 800px) {
    .disappearing{
        display: flex;
        visibility: visible;
    }
    .mobileFeature{
        display: none;
        /* visibility: hidden; */
        color: var(--primary-color);
    }
}