header{
    position:fixed;
    top: 0px;
    background-color: antiquewhite;
}

footer{
    position:fixed;
    bottom: 0px;
    background-color: antiquewhite;
}

nav{
    display:flex;
}

nav > ul {
    display:flex;
    align-items: center;
    justify-content: center;
}

#copyright{
    position: absolute;
    bottom: 35px;
    right: 35px;
}

@media (max-width: 800px) {
    .disappearing{
        display: none;
        /* visibility: hidden; */
    }
    /* .mobileFeature{
        display: flex;
        visibility: visible;
    } */
}

@media (min-width: 800px) {
    /* .disappearing{
        display: flex;
        visibility: visible;
    } */
    .mobileFeature{
        display: none;
        /* visibility: hidden; */
    }
}
